body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: "Times New Roman", Times, serif;
  color: #333; 
}

.mission-page {
  max-width: 700px;
  margin: 80px auto;
  padding: 0 40px;
  text-align: center;
}

.main-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.sub-title {
  font-size: 22px;
  margin-bottom: 5px;
  text-transform: uppercase;
  color: rgb(61, 61, 243);
}

.underline {
  width: 100%;
  height: 1px;
  background-color: #918f8f;
  margin: 0 auto 40px auto;
}

.mission-text {
  font-size: 18px;
  line-height: 1.8;
  margin-bottom: 20px;
  text-align: left;
}

.mission-list {
  font-size: 18px;
  line-height: 1.8;
  text-align: left;
  padding-left: 40px;
  margin-bottom: 40px;
}

.mission-list li {
  margin-bottom: 15px;
}

.byui-footer {
  margin-top: 50px;
  text-align: right;
}

.byui-logo-img {
  width: 120px;
  height: auto;
  display: block;
  margin: auto;
  justify-content: center;

}
