body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: "Times New Roman", Times, serif;
}

.mission-page {
  max-width: 700px;
  margin: 80px auto;
  padding: 0 40px;
  text-align: center;
  color: #000;
}

.main-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.sub-title {
  font-size: 22px;
  font-weight: normal;
  margin-bottom: 40px;
  text-transform: uppercase;
}

.mission-text {
  font-size: 18px;
  line-height: 1.8;
  margin-bottom: 20px;
  text-align: left;
}

.mission-list {
  font-size: 18px;
  line-height: 1.8;
  text-align: left;
  padding-left: 20px;
  margin-bottom: 40px;
}

.mission-list li {
  margin-bottom: 15px;
}

.byui-footer {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 2px;
  text-align: right;
  line-height: 1.4;
}
